<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>SG ASSIST</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/themify-icons/css/themify-icons.css') }}">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="{{  url_for('static', filename='css/styles.css') }}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="/">SG ASSIST</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" href="/">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">About</a>
                </li>
                <li class="item">
                    <a class="link" href="#portfolio">Prompts</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contact</a>
                </li>
                <li class="item">
                    <a class="link" href="/signup" id="signup">Signup</a>
                </li>
                <li class="item">
                    <a class="link" href="/logout" id="signup">
                        <form action="{{ url_for('logout') }}" method="get">
                            <button type="submit" id="logoutbtn"><img
                                    src="https://img.icons8.com/ios/452/logout-rounded-up.png" alt="logout" style="
                                height: 16px;
                                width: 16px"></button>
                        </form>
                    </a>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->
    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
    </header><!-- end of page header -->

    <div class="assistant">
        <div class="ass-operate">
            <form action="/clear" method="post">
                <button type="submit" class="ass-sub-btn"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="20" height="20" viewBox="0 0 30 30">
                        <path
                            d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z">
                        </path>
                    </svg></button>
            </form>
            <form action="/view-history" method="get">
                <button type="submit" class="ass-sub-btn"><svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-history" width="20" height="20" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 8l0 4l2 2" />
                        <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                    </svg></button>
            </form>
        </div>
        <div class="ass-res">
            {% if view_history %}
            <ul>
                {% for chat_response in responses %}
                    <li>{{ chat_response }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {% if responses %}
                <ul>
                    <li>{{ responses[-1] }}</li>
                </ul>
            {% endif %}
        {% endif %}
        </div>
        <div class="ass-form">
            <form action="/assistant" method="post">
                <label for="user_input">You:</label>
                <input type="text" id="user_input" name="user_input" required>
                <button type="submit" class="ass-sub-btn">Submit</button>
            </form>
        </div>
    </div>

    <!-- footer -->
    <div class="container">
        <footer class="footer">
            <p class="mb-0">Copyright
                <script>document.write(new Date().getFullYear())</script> &copy; <a
                    href="https://samxiar.vsble.me/">SAMCOEUS. All rights reserved</a>
            </p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="mailto:samcoeus@gmail.com" class="link"><i class="ti-google"></i></a>
                <a href="{{ url_for('login') }}"></a>
                <a href="/">✖</a>
            </div>
        </footer>
    </div> <!-- end of page footer -->

    <!-- core  -->
    <!-- core  -->
    <script src="{{ url_for('static', filename='vendors/jquery/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.affix.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>